/* Intro Section Container */
.intro-container {
    background-color: #f3f3f3; /* Light grey background */
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

/* Inner Content Wrapper */
.intro-content {
    display: flex;
    align-items: center;
    width: 100%;
}

/* Left Side - Text */
.intro-text {
    flex: 1;
    /* padding: 40px; */
    text-align: center;
}

.intro-text h2 {
    font-size: 40px;
    font-weight: bold;
    color: #1e1e1e;
    line-height: 2;
}

.highlight {
    color: #0056b3; /* Blue highlight */
}

/* Right Side - Image */
.intro-image {
    flex: 1;
}

.intro-image img {
    width: 100%;
    height: 400px;
    display: block;
}

/* For mobile portrait */
@media only screen and (max-width: 480px) {
    .intro-content {
        display: inline;
    }
    .intro-image img {
        height: 300px;
    }
    .intro-text h2 {
        font-size: 1.5rem;
        line-height: 1.9;
    }
}

  /* For mobile landscape */
@media only screen and (min-width: 481px) and (max-width: 767px) {
    .intro-content {
        display: inline;
    }
    .intro-text {
        padding: 10px;
    }
    .intro-text h2 {
        font-size: 30px;
        line-height: 1.6;
    }
}

/* For tablet portrait */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .intro-content {
        flex-direction: column;
        text-align: center;
    }

    .intro-text h2 {
        font-size: 40px;
        line-height: 1.6;
    }

    .intro-image img {
        width: 100%;
        height: auto;
    }
}

/* For tablet landscape */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
    .intro-content {
        flex-direction: column;
        text-align: center;
    }

    .intro-text h2 {
        font-size: 40px;
        line-height: 1.6;
    }

    .intro-image img {
        width: 100%;
        height: auto;
    }
}

/* New media query for large screens (1519px x 2428px) */
@media only screen and (min-width: 1281px) and (max-width: 1600px) {
    .intro-text h2 {
        font-size: 42px;
        line-height: 1.6;
    }
  }
  
  /* For screens larger than 1600px */
  @media only screen and (min-width: 1601px) {
    .intro-text h2 {
        font-size: 45px;
        line-height: 1.6;
    }
  }