.contact-title {
  width: 100%;
  height: 550px;
  text-align: center;
  color: #1e1e1e;
  /* padding: 40px 0; */
  background-size: 100% 100%;
  background-image: url("../../assets/images/contact/scalar_contact.png");
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  display: flex;
}

.contact-header {
  text-align: center;
  margin-bottom: -250px;
}

.contact-header h2{
  margin-top: 40px;
  font-size: 50px;
}

.el-top {
  flex-direction: row;
  height: 80%;
  aspect-ratio: 3/2;
  clip-path: ellipse(85% 100% at 50% 0%);
  background: rgb(177, 214, 235);
  width: 30%;
  opacity: 0.6;
  margin-top: -120px;
}

.el-mid {
  flex-direction: row;
  --c: 70px;
  height: 100%;
  aspect-ratio: 3/2;
  mask: radial-gradient(60% var(--c) at bottom, #0000 calc(100% - 2px), #000);
  background: rgb(177, 214, 235);
  width: 40%;
  opacity: 0.6;
}

.el-bot {
  flex-direction: row;
  flex-direction: row;
  --c: 70px;
  height: 100%;
  aspect-ratio: 3/2;
  mask: radial-gradient(50% var(--c) at bottom, #0000 calc(100% - 2px), #000);
  background: rgb(177, 214, 235);
  width: 30%;
  opacity: 0.6;
}

.contact-title h2 {
  position: relative;
  color: #1c2126;
  font-size: 50px;
  text-align: center;
  margin: 0;
  margin-top: 80px;
}

.contact-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.527);
}

@media (max-width: 768px) {
  .contact-title {
    height: 200px;
    font-size: 1.2rem;
    background-size: cover;
  }

  .contact-title h2 {
    font-size: 30px;
    padding: 10px;
    width: 150%;
  }

  .el-top {
    height: 350%;
  }

  .el-mid {
    height: 350%;
  }

  .el-bot {
    height: 350%;
  }

  .contact-header h2{
    font-size: 30px;
  }
}
