.contact-form {
  display: flex;
  width: 80%;
  max-width: 900px;
  margin: auto;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.048);
  padding: 10px;
  margin-bottom: 100px;
  margin-top: -300px;
  background: #fff;
  z-index: 2;
}

.contact-left {
  background: #1c2126;
  color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}

.contact-left::after {
  content: "";
  position: absolute;
  bottom: -100px;
  right: -100px;
  width: 250px;
  height: 250px;
  background: gray;
  border-radius: 50%;
  opacity: 0.3;
}

.contact-left::before {
  content: "";
  position: absolute;
  bottom: 70px;
  right: 70px;
  width: 100px;
  height: 100px;
  background: gray;
  border-radius: 50%;
  opacity: 0.2;
}

.contact-left h2 {
  margin: 0;
}

.contact-left p {
  margin-top: 5px;
}

.contact-info div {
  display: flex;
  align-items: center;
  margin: 10px 0;
  font-size: 14px;
  line-height: 3.5;
}

.contact-info svg {
  margin-right: 10px;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons svg {
  background: #e25b19;
  color: white;
  padding: 5px;
  border-radius: 50%;
  font-size: 18px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease, transform 0.2s ease;
}

.social-icons svg:hover {
  background: darkorange;
  transform: scale(1.1);
}

.contact-right {
  background: white;
  padding: 30px;
  border-radius: 0 12px 12px 0;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.column-label {
  width: 48%;
  font-size: 14px;
  color: gray;
  transition: color 0.3s ease;
  z-index: 4;
}

.column-label.active {
  color: black;
}

.row input,
.row textarea {
  width: 42%;
  border: none;
  border-bottom: 1px solid gray;
  padding: 8px;
  font-size: 14px;
  outline: none;
  color: gray;
  background: transparent;
  transition: color 0.3s ease, border-color 0.3s ease;
  z-index: 4;
 line-height: 3;
}

.row input:focus,
.row textarea:focus {
  color: black;
  border-bottom: 2px solid black;
}

.row textarea {
  width: 100%;
  height: 60px;
  resize: none;
}

.file-upload {
  text-align: center;
  border: 1px solid gray;
  padding: 20px;
  cursor: pointer;
  justify-content: center;
}

.file-upload label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-icon {
  font-size: 50px;
  color: gray;
}

.center-file-name{
  color: gray;
}

.button-row {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0px;
}

.send-button {
  background: #e25b19;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px;
}

.send-button:hover {
  background: darkorange;
}

.file-upload input[type="file"] {
  display: none;
}

.custom-file-upload {
  background: orange;
  color: white;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
}

.custom-file-upload:hover {
  background: darkorange;
}

.file-name {
  margin-left: 10px;
  font-size: 14px;
  color: gray;
}

.error {
  border-bottom: 2px solid red !important;
}

.error-message {
  color: red;
  font-size: 12px;
  text-align: center;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  background: gray;
  animation: fadeOut 3s ease-in-out;
}

.send-button:disabled {
  background: gray;
  cursor: not-allowed;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (min-width: 769px) {
  .contact-left {
    width: 40%;
  }

  .contact-right {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .contact-form {
    flex-direction: column;
    padding: 20px;
    margin-top: 60px;
    margin-bottom: 20px;
  }

  .contact-left {
    border-radius: 12px;
  }

  .row input {
    width: 40%;
  }

  .row textarea {
    width: 100%;
  }

  .social-icons {
    margin-top: 50px;
  }

  .contact-left p {
    margin-top: 20px;
  }

  .contact-left::after {
    bottom: -100px;
    right: -100px;
    width: 200px;
    height: 200px;
  }

  .contact-left::before {
    bottom: 40px;
    right: 40px;
    width: 80px;
    height: 80px;
  }
}
