.voice-info-container {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    gap: 20px;
    padding: 20px;
    background-color: rgba(241, 241, 241, 0.767);
    border-radius: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 1200px;
    margin: auto;
  }

  .voice-info-p{
    padding: 40px;
  }
  
  .image-container {
    position: relative;
    flex: 1;
    max-width: 40%;
  }
  
  .voice-image {
    width: 100%;
    border-radius: 25px;
    height: 100%;
  }
  
  .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 25px;
  }
  
  .image-overlay h2 {
    font-size: 35px;
    font-weight: bold;
    padding: 10px;
    line-height: 2;
  }
  
  .text-container-v-info {
    flex: 2;
    font-size: 16px;
    text-align: left;
    font-weight: 500;
  }
  
  .text-container-v-info h2 {
    font-size: 28px;
    font-weight: bold;
  }
  
  .text-container-v-info p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
    line-height: 2;
  }
  
  @media (max-width: 1000px) {
    .voice-info-container {
      flex-direction: column;
      text-align: center;
      padding: 20px;
      margin: 30px;
    }
  
    .image-container {
      max-width: 100%;
    }
  
    .image-overlay h2 {
      font-size: 25px;
    }
  
    .text-container-v-info {
      padding: 15px;
    }
  
    .text-container-v-info h2 {
      font-size: 24px;
    }
  
    .text-container-v-info p {
      font-size: 14px;
    }

    .voice-info-p{
        padding: 1px;
      }
  }
  