.container-voicenotes {
  display: flex;
  margin: auto;
  padding: 20px;
  padding-left: -40px !important;
  padding-right: -40px !important;
  max-width: 1200px;
}

.image-container-voicenotes {
  width: 300px;
  height: 300px;
  background-color: #1c2126;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.microphone-icon {
  width: 130px;
  height: 130px;
}

.content-voicenotes {
  width: 70%;
}

.title-v-note {
  font-size: 35px;
  font-weight: bold;
}

.description {
  color: #666;
  margin-top: 10px;
  font-size: 18px;
  line-height: 2;
}

.subtitle {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

.content-voicenotes h4{
  font-size: 20px;
}

.features {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.features li {
  display: flex;
  align-items: center;
  margin: 5px 0;
  font-size: 18px;
  line-height: 2;
}

.bullet {
  font-weight: bold;
  margin-right: 8px;
}

.footer-text {
  color: #666;
  margin-top: 20px;
  font-size: 18px;
}

@media (min-width: 899px) {
  .container-voicenotes {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .image-container-voicenotes {
    order: 2;
    margin-left: auto;
  }
}

@media (max-width: 900px) {
  .content-voicenotes {
    max-width: 600px;
  }

  .container-voicenotes {
    flex-direction: column;
  }

  .image-container-voicenotes {
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
    margin: auto;
    margin-top: 20px;
  }

  .microphone-icon {
    width: 60px;
    height: 60px;
  }
}
