.voice-sense-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px;
  background-color: white;
  flex-wrap: wrap;
}

.text-container {
  flex: 2;
  text-align: center;
  font-size: 18px;
  color: #1c2126;
}

.text-container h1 {
  font-size: 60px;
  font-weight: 600;
}

.text-container p {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 2;
}

@media (max-width: 768px) {
  .voice-sense-container {
    flex-direction: column;
    text-align: center;
  }

  .text-container h1 {
    font-size: 32px;
  }

  .text-container p {
    font-size: 16px;
  }
}
