.testimonials-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
}

.testimonial-card:nth-child(odd) {
  transform: translateY(50px);
}

.testimonial-card {
  background: white;
  padding: 20px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.accent-blue::before,
.accent-orange::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
}

.accent-blue::before {
  background-color: #3498db;
  top: 0;
  right: 0;
  border-top-right-radius: 30px;
}

.accent-orange::before {
  background-color: #e67e22;
  border-top-left-radius: 30px;
  top: 0;
  left: 0;
}

.quote {
  font-size: 20px;
  color: #1c2126;
  position: absolute;
  top: 10px;
  left: 15px;
  opacity: 0.2;
}

.testimonial-text {
  font-size: 18px;
  margin: 40px 10px;
  color: #8e8e8e;
  line-height: 2;
}

.testimonial-footer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.testimonial-name {
  font-weight: bold;
  font-size: 14px;
  color: #1c2126;
}

.comma {
  margin-top: 30px;
  width: 10px;
}

@media (max-width: 359px) {
  .testimonials-grid {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }

  .testimonial-card {
    padding: 20px 0px 20px 0px;
  }

  .testimonial-text {
    font-size: 12px;
    line-height: 1.5;
    margin: 20px 10px;
  }

  .comma {
    margin-top: 20px;
    width: 5px;
  }

  .accent-blue::before,
  .accent-orange::before {
    width: 20px;
    height: 20px;
  }

  .testimonial-name {
    font-size: 12px;
  }

  .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}

@media (min-width: 360px) and (max-width: 400px) {
  .testimonials-grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .testimonial-card {
    padding: 20px 0px 20px 0px;
  }

  .testimonial-text {
    font-size: 12px;
    line-height: 1.5;
    margin: 20px 10px;
  }

  .comma {
    margin-top: 20px;
    width: 5px;
  }

  .accent-blue::before,
  .accent-orange::before {
    width: 20px;
    height: 20px;
  }

  .testimonial-name {
    font-size: 12px;
  }

  .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}

@media (min-width: 401px) and (max-width: 500px) {
  .testimonials-grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .testimonial-card {
    padding: 20px 0px 20px 0px;
  }

  .testimonial-text {
    font-size: 12px;
    line-height: 1.5;
    margin: 20px 10px;
  }

  .comma {
    margin-top: 20px;
    width: 5px;
  }

  .accent-blue::before,
  .accent-orange::before {
    width: 20px;
    height: 20px;
  }

  .testimonial-name {
    font-size: 12px;
  }

  .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}

@media (min-width: 501px) and (max-width: 600px) {
  .testimonials-grid {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }

  .testimonial-card {
    padding: 20px 0px 20px 0px;
  }

  .testimonial-text {
    font-size: 12px;
    line-height: 1.5;
    margin: 40px 10px;
  }

  .comma {
    margin-top: 20px;
    width: 5px;
  }

  .accent-blue::before,
  .accent-orange::before {
    width: 20px;
    height: 20px;
  }

  .testimonial-name {
    font-size: 12px;
  }

  .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}

@media (min-width: 601px) and (max-width: 700px) {
  .testimonials-grid {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }

  .testimonial-card {
    padding: 20px 0px 20px 0px;
  }

  .testimonial-text {
    font-size: 14px;
    line-height: 1.7;
    margin: 35px 10px;
  }

  .comma {
    margin-top: 30px;
    width: 8px;
  }

  .accent-blue::before,
  .accent-orange::before {
    width: 30px;
    height: 30px;
  }

  .testimonial-name {
    font-size: 14px;
  }

  .avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
}

@media (min-width: 701px) and (max-width: 800px) {
  .testimonials-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .testimonial-card {
    padding: 20px 0px 20px 0px;
  }

  .testimonial-text {
    font-size: 14px;
    line-height: 1.7;
    margin: 40px 10px;
  }

  .comma {
    margin-top: 30px;
    width: 8px;
  }

  .accent-blue::before,
  .accent-orange::before {
    width: 30px;
    height: 30px;
  }

  .testimonial-name {
    font-size: 14px;
  }

  .avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
}

@media (min-width: 801px) and (max-width: 1100px) {
  .testimonials-grid {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}
