.footer-top {
  background-color: #1c2126;
  color: #fff;
  text-align: center;
  font-family: Arial, sans-serif;
}

.footer-container-top {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 15px;
  max-width: 1200px;
  padding: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-container-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 100%;
  margin: 0px;
  flex-wrap: wrap;
}

.footer-logo-img {
  padding-top: 10px;
  height: 60px;
}

.highlight {
  color: #ff6600;
}

.footer-info p {
  margin: 5px 0;
  font-size: 18px;
  line-height: 2;
}

.footer-middle {
  max-width: 1200px;
  padding: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer-middle h1 {
  color: #1c2126;
  font-size: 50px;
  font-weight: 600;
}

.footer-middle a {
  background-color: #1c2126;
  text-decoration: none;
  margin: 5px 0;
  font-weight: 600;
  padding: 15px 40px;
  font-size: 20px;
}

.footer-bottom {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.footer-bottom a {
  color: #fff;
  text-decoration: none;
  margin: 5px 0;
}

.right-style {
  margin: 5px;
}


.social-icon {
  font-weight: bold;
  color: #1c2126;
  background-color: #fff;
  padding: 7px;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 4px;
  margin: 5px;
}

.footer-social {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
}

@media (min-width: 768px) {
  .footer-container-top {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    max-width: 1200px;
    margin: auto;
  }

  .footer-container-middle {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    margin: auto;
  }

  .footer-info {
    text-align: left;
  }

  .footer-bottom {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: auto;
  }
}

@media (max-width: 768px) {
  .footer-social {
    display: flex;
    flex-direction: row;  /* Ensures all items are in a single line */
    align-items: center;  /* Aligns items vertically */
    justify-content: center;  /* Centers content horizontally */
    flex-wrap: nowrap; /* Prevents elements from breaking into a new line */
    gap: 15px; /* Adds spacing between items */
    font-size: 14px;
  }

  .footer-social p,
  .footer-social a {
    margin: 0;
    white-space: nowrap; /* Prevents text from wrapping */
  }

  .social-w {
    display: flex;
    align-items: center; /* Keeps text and icon inline */
    gap: 5px; /* Adds small space between text and icon */
  }

  .social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }

  .footer-middle h1 {
    font-size: 30px;
  }
}
